<form class="input-group">
    <ul class="table-view">
        <check if="{{isset(@data)}}">
            <repeat group="{{ @data }}" value="{{ @content }}" counter="{{ @counter }}">
                <check if="{{ count(@data) > 1 }}">
                    <li class="table-view-cell table-view-divider">{{@counter}}.</li>
                </check>
                <repeat group="{{ @content }}" key="{{ @key }}" value="{{ @value }}">

                    <li class="table-view-cell">

                        <div class="input-row">
                            <label><strong>{{@key}}</strong></label>
                            <input type="text" placeholder="" value="{{html_entity_decode(@value)}}">
                        </div>

                    </li>
                </repeat>
            </repeat>
        </check>
    </ul>
</form>