<ul class="table-view">
    <repeat group="{{ @data }}" value="{{ @item }}">
        <li class="table-view-cell media">
          <a class="navigate-right" href="{{@item.link}}" data-transition="slide-in">
            <check if="{{isset(@item.badge) && @item.badge > 0}}"><span class="badge">{{@item.badge}}</span></check>
            <span class="media-object icon icon-{{@item.icon}} pull-left"></span>
            <div class="media-body">
                {{@item.title}}
            </div>
          </a>
        </li>
    </repeat>
</ul>